name: NYC Taxi Full CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  # JOB 1: Validation (Lint, Test, Terraform)
  validate-and-test:
    name: "Lint, Test & Terraform"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # 1. UV Setup
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true # Cache between runs for faster installs

      - name: Set up Python
        run: uv python install 3.11

      # 2. Sync and Linting
      # The uv tool will automatically sync dependencies from pyproject.toml before running the command
      - name: Run Linting (flake8)
        run: uv x flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics

      # 3. Spark Unit Tests
      - name: Run PySpark Unit Tests
        run: uv run pytest tests/

      # 4. Terraform Validate
      - name: Terraform Format & Validate
        run: |
          cd terraform
          terraform init -backend=false
          terraform fmt -check
          terraform validate

  # JOB 2: Build, Deploy and Sample Run
  build-and-run:
    name: "Docker Build & Sample Execution"
    needs: validate-and-test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # Docker Image Build
      - name: Build Pipeline Image
        run: docker build -t nyc-taxi-pipeline:${{ github.sha }} .

      # Setup Database for Sample Run
      - name: Start Postgres
        run: |
          docker run -d --name test_db \
            -e POSTGRES_USER=test \
            -e POSTGRES_PASSWORD=test_pass \
            -e POSTGRES_DB=nyc_taxi_warehouse \
            -p 5432:5432 \
            postgres:15
          sleep 15

      # Execute Sample Ingestion
      - name: Execute Sample Ingestion
        run: |
          docker run --rm \
            --network host \
            -v ${{ github.workspace }}/data:/app/data \
            nyc-taxi-pipeline:${{ github.sha }} \
            python3 src/ingest_bronze.py --months 2023-06

      # Validate gold layer transformation
      - name: Execute Transformation
        run: |
          docker run --rm \
            --network host \
            nyc-taxi-pipeline:${{ github.sha }} \
            python3 src/transform_gold.py --months 2023-06

      # Validate load to Postgres
      - name: Execute Load
        run: |
          docker run --rm \
            --network host \
            nyc-taxi-pipeline:${{ github.sha }} \
            python3 src/load_gold_to_postgres.py